!
*.foreground:  #{{ colors[0] }}
*.background:  #{{ colors[1] }}
*.cursorColor: #{{ colors[2] }}
!
! Black
*.color0:      #{{ colors[3] }}
*.color8:      #{{ colors[4] }}
!
! Red
*.color1:      #{{ colors[5] }}
*.color9:      #{{ colors[6] }}
!
! Green
*.color2:      #{{ colors[7] }}
*.color10:     #{{ colors[8] }}
!
! Yellow
*.color3:      #{{ colors[9] }}
*.color11:     #{{ colors[10] }}
!
! Blue
*.color4:      #{{ colors[11] }}
*.color12:     #{{ colors[12] }}
!
! Magenta
*.color5:      #{{ colors[13] }}
*.color13:     #{{ colors[14] }}
!
! Cyan
*.color6:      #{{ colors[15] }}
*.color14:     #{{ colors[16] }}
!
! White
*.color7:      #{{ colors[17] }}
*.color15:     #{{ colors[18] }}
!
! Bold, Italic, Underline
*.colorBD:     #{{ colors[19] }}
*.colorIT:     #{{ colors[20] }}
*.colorUL:     #{{ colors[21] }}
